.calendar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0 16px;
}
.content {
  flex: 1;
  border-bottom: 1px solid  rgba(229, 230, 235, 1) ;
}
.grid {
  justify-content: space-between;
}
.calendar {
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solidrgba(229, 230, 235, 1);
  border-radius: 24px;
  background: var(--Background-secondary-bg, #f0f1f3);
  margin-bottom: 10px;
}
.link {
  width: 50%;
  border: 1px solid rgba(229, 230, 235, 1);
  padding: 6px 16px;
  border-radius: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}
.linkDis {
  width: 50%;
  padding: 6px 16px;
  border-radius: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}
.daysCell {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.date {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(34, 34, 34, 1);
  padding: 3px;
  border-radius: 25px;
  ;
}
.selectBtn {
  height: 48px;
  margin: 16px 0;
  width: 100%;
  background: var(--Buttons-secondary-bg, #222222);
  color: white;
  border-radius: 10px;
  padding: 12px, 0px, 14px, 0px;
}
.cell.today .date {
  background-color: #00aaff;
  color: white;
}

.cell.selected .date {
  background-color: #00aaff;
  color: rgb(246, 242, 242);
}
